.franch-form {
    padding: 28px;
    @media screen and (min-width: 768px) {
        padding: 32px 60px;
    }
}

.franch-form__title {
    font-family: 'Seymour One', sans-serif;
    @include fonts (400, 16px, 24px, null);
    display: block;
    text-align: center;
    align-items: center;
    width: 221px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        @include fonts (null, 20px, 28px, null);
        width: 322px;
        margin-bottom: 24px;
    }
}

.franch-form__descr {
    @include fonts (400, 14px, 20px, null);
    width: 222px;
    @media screen and (min-width: 768px) {
        @include fonts (null, 16px, 22px, null);
        width: 448px;
    }
}

.franch-form__group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
    margin-top: 24px;
    @media screen and (min-width: 768px) {
        gap: 16px;
        margin-bottom: 32px;
        margin-top: 32px;
        align-items: center;
    }
}

.franch-form__input {
    width: 100%;
    height: 32px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    padding-right: 12px;
    padding-left: 12px;
    cursor: pointer;
    &::placeholder {
        @include fonts (400, 12px, 17px, null);
        color: #131313;
        @media screen and (min-width: 768px) {
            @include fonts (null, 14px, 20px, null);
        }
    }
    @media screen and (min-width: 768px) {
        width: 368px;
        height: 42px;
        padding-right: 16px;
        padding-left: 16px;
    }
}

.franch-form__input--lg {
    height: 64px;
    padding-top: 8px;
    @media screen and (min-width: 768px) {
        height: 84px;
        padding-top: 11px;
    }
}

.franch-form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 114px;
    height: 42px;
    background: #F8D24E;
    color: #131313;
    border-radius: 10px;
    @include fonts (600, 12px, 15px, null);
    @media screen and (min-width: 768px) {
        width: 121px;
        @include fonts (null, 14px, 17px, null);
    }
}